version: 2.1

orbs:
  unity: game-ci/unity@1.4.0

workflows:
  build-unity-project:
    jobs:
      - unity/build:
          name: 'build-android'
          step-name: 'Build Android
          unity-username-var-name: 'darkzencore@gmail.com'
          unity-password-var-name: 'Zyablik2001zyablo'
          executor:
            name: 'unity/macos'
            target_platform: 'android'
            editor_version: '2021.3.19f1'
            resource_class: 'large'
          project-path: 'Unity2D-Demo-Game-CI-CD/src'
          build-target: 'Android'
          context: unity
