version: 2.1

jobs:
  build:
    macos:
      xcode: 14.2.0
    steps:
      - checkout 
      - run:
          name: Navigate to root directory
          command: cd /
      - run: ls

workflows:
  build-only:
    jobs:
      - build


