jobs:
  build:
    docker:
      - image: ubuntu:latest
    steps:
      - run:
          name: Create artifact
          command: echo "hello world" > my_artifact.txt
      - persist_to_workspace:
          root: .
          paths:
            - my_artifact.txt

  receive:
    macos:
      xcode: "12.5.1"
    steps:
      - attach_workspace:
          at: /tmp/workspace
      - run:
          name: Use artifact
          command: |
            cat /tmp/workspace/my_artifact.txt
            
workflows:
  version: 2
  build-and-deploy:
    jobs:
      - build
      - receive:
          requires:
            - build
