jobs:
  test-chek:
    docker:
      - image: ubuntu:latest
    steps:
      - run:
          name: up
          command: apt-get update
      - run: 
          name: install git
          command: apt-get install git -y
      - run:
          name: list conf;
          command: git config --global user.name "Kirill Zyablitsev"
      - run:
          name: list conf;
          command: git config user.name
      - run:
          name: git
          command: |
            export GIT_SSH_COMMAND="ssh -o StrictHostKeyChecking=no"
            git clone git@gitlab.com:kzyablitsev/test-ci.git /root/project/unityPrj
      - run:
          name: ls
          command: ls  

  buildAndroid:
    docker:
      - image: 1zyablik1/unity
      
    steps:
      - run:
          name: git
          command: git clone https://github.com/1zyablik1/test-ci.git /root/project/unityPrj
      - run:
          name: setup display
          command: |
            Xvfb :1 -screen 0 1280x720x24 &
            export DISPLAY=:1
            unity -batchmode -projectPath /unityPrj/ -executeMethod BuildScript.BuildAndroid -quit
      - run:
          name: Display Unity log
          command: cat /root/.config/unity3d/Editor.log
          when: always
      - run: 
          name: install 7zip
          command: apt-get install p7zip-full -y
      - run:
          name: zip bundle
          command: 7z a -t7z -m0=lzma2 -mx=9 -mfb=64 -md=32m -ms=on ~/project/unityPrj/Builds/Android/build.7z ~/project/unityPrj/Builds/Android/Assets
      - store_artifacts:
          path: /root/project/unityPrj/Builds/Android/
          destination: Andriod
          
  buildIos:
    working_directory: ~/project
    docker:
      - image: 1zyablik1/unity
      
    steps:
      - run:
          name: git
          command: git clone https://github.com/1zyablik1/test-ci.git /root/project/unityPrj
      - run:
          name: build
          command: |
            Xvfb :1 -screen 0 1280x720x24 &
            export DISPLAY=:1
            unity -batchmode -projectPath /unityPrj/ -executeMethod BuildScript.BuildIos -quit
      - run:
          name: Display Unity log
          command: cat /root/.config/unity3d/Editor.log
          when: always
      - run:
          name: LS
          command: ls ~/project/unityPrj/Builds/iOS/
      - persist_to_workspace:
          root: ./unityPrj/Builds/iOS
          paths:
            - .
      
  receive:
    macos:
      xcode: "12.5.1"
    steps:
      - attach_workspace:
          at: /tmp/ios
      - run:
          name: Use artifact
          command: ls /tmp/ios/Unity-iPhone.xcodeproj/
      - run: 
          name: xcode
          command: |
            xcrun instruments -w 'iPhone 12' || sleep 15
            xcodebuild -project /tmp/ios/Unity-iPhone.xcodeproj -configuration Release -destination generic/platform=iOS
      
workflows:
  version: 2
  build-and-deploy:
    jobs:
      #- buildAndroid
      - test-chek

