version: 2.1

jobs:
  load:
    macos:
      xcode: 13.0.0
    steps:
      - run:
          name: load Unity
          command: |
            curl -o Unity.pkg https://download.unity3d.com/download_unity/2021.3.19f1/MacEditorInstaller/Unity-2021.3.19f1.pkg      
  install:
    macos:
      xcode: 13.0.0
    steps:
      - run:
          name: Install Unity
          command: | 
            sudo installer -dumplog -package Unity.pkg -target /
 
workflows:
  build:
    jobs:
      - load
      - install:
          requires:
            - load
