version: 2.1
orbs:
  unity: game-ci/unity@1.4.0

jobs:
  build:
    docker:
      - image: circleci/android:api-30
    steps:
      - checkout
      - run: docker run
      - run: unity-editor -batchmode -nographics -quit -projectPath ./ -executeMethod BuildScript.BuildAndroid
      - store_artifacts:
          path: ~/repo/Builds
          destination: builds

workflows:
  build-only:
    jobs:
      - build


