jobs:
  build:
    docker:
      - image: ubuntu:latest
    steps:
      - run: mkdir -p arts
      - run: echo "Hello, world!" > arts/echo-output
      - persist_to_workspace:
         root: .
         paths:
            - echo-output
      - store_artifacts:
          path: workspace
          destination: my_artifacts

  receive:
    macos:
      xcode: "12.5.1"
    steps:
      - attach_workspace:
          at: /tmp/workspace
      - run: ls
      - run:
          name: Use artifact
          command: |
            cat /tmp/workspace/arts/echo-output
            
workflows:
  version: 2
  build-and-deploy:
    jobs:
      - build
      - receive:
          requires:
            - build
