jobs:
  build:
    docker:
      - image: ubuntu:latest
    steps:
      - run:
          name: Create artifact
          command: echo "hello world" > my_file.txt
      - store_artifacts:
          path: my_file.txt
          destination: my_artifacts

  receive:
    macos:
      xcode: "12.5.1"
    steps:
      - attach_workspace:
          at: /tmp/workspace
      - run ls
      - run:
          name: Use artifact
          command: |
            cat /tmp/workspace/my_artifacts/my_file.txt
            
workflows:
  version: 2
  build-and-deploy:
    jobs:
      - build
      - receive:
          requires:
            - build
