jobs:
  test-chek:
    docker:
      - image: ubuntu:latest
    steps:
      - run:
          name: up
          command: apt-get update
      - run: 
          name: install git
          command: apt-get install git -y
      - run:
          name: list conf;
          command: |
            git config --global user.name "Kirill Zyablitsev"
            git config --global user.email "kzyablitsev@gmail.com"
      - run:
          name: check data;
          command: |
            git config user.name
            git config user.email

      - run:
          name: set SSH2
          command: |
            cd ~/
            mkdir .ssh
            cd .ssh
            echo "ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABAQCqxLmplMbEIATDS5LLzEjxsbjuqi6eVgCFMiOXaosbEiYu69YCJpvBLPf2bSyYZ+aCHWreleOYcL3QYixLWNq7bf6geri2YapKzQOpbpouvubQ19b9zMNHBF+WiNGzx9cKFVxN8SIcQg4+yIvwEgHiHWnSvJEOcmoW6Ez+VTs6PZRxxojKMzZH1s9TPAgJe0kuzUp4Bd8nG1Jh+88URBMuM9runQYrDfQjpwQnhMDi0b4DYgzz0cN+P8C69t7l43qVPeDGUCTcipLktDKzMs8Ksg6Wrgp1qhJDQl16YdrooMuorOKNQVx0TvN1sDC4MOV9YdAf4HbYPjGJjTjbgtwF ci" > id_rsa.pub
            echo "-----BEGIN OPENSSH PRIVATE KEY-----\nb3BlbnNzaC1rZXktdjEAAAAABG5vbmUAAAAEbm9uZQAAAAAAAAABAAABFwAAAAdzc2gtcn\nNhAAAAAwEAAQAAAQEAqsS5qZTGxCAEw0uSy8xI8bG47qounlYAhTIjl2qLGxImLuvWAiab\nwSz39m0smGfmgh1q3pXjmHC90GIsS1jau23+oHq4tmGqSs0DqW6aLr7m0NfW/czDRwRflo\njRs8fXChVcTfEiHEIOPsiL8BIB4h1p0ryRDnJqFuhM/lU7Oj2UccaIyjM2R9bPUzwICXtJ\nLs1KeAXfJxtSYfvPFEQTLjPa7p0GKw30I6cEJ4TA4tG+A2IM89HDfj/Auvbe5eN6lT3gxl\nAk3IqS5LQyszLPCrIOlq4KdaoSQ0JdemHa6KDLqKzijUFcdE7zdbAwuDDlfWHQH+B22D4x\niY0424LcBQAAA8DFTifRxU4n0QAAAAdzc2gtcnNhAAABAQCqxLmplMbEIATDS5LLzEjxsb\njuqi6eVgCFMiOXaosbEiYu69YCJpvBLPf2bSyYZ+aCHWreleOYcL3QYixLWNq7bf6geri2\nYapKzQOpbpouvubQ19b9zMNHBF+WiNGzx9cKFVxN8SIcQg4+yIvwEgHiHWnSvJEOcmoW6E\nz+VTs6PZRxxojKMzZH1s9TPAgJe0kuzUp4Bd8nG1Jh+88URBMuM9runQYrDfQjpwQnhMDi\n0b4DYgzz0cN+P8C69t7l43qVPeDGUCTcipLktDKzMs8Ksg6Wrgp1qhJDQl16YdrooMuorO\nKNQVx0TvN1sDC4MOV9YdAf4HbYPjGJjTjbgtwFAAAAAwEAAQAAAQEAkjRn+QbFvrjjGwmj\nHxVCBpxwhvXxf+KGA4PP8R1pB75cLqP/0EuZ4qRLkBIcskeSlSf2jaeq+qLcAINtBP2IGB\nyueltXtd6cW/p2/iMRoqATIg8JpLYhIrZd2JY/ZDreo2VyZ9DhsWvkomA1X08riZpBNgn3\n73SJ3B77fG0gjlUv77yOOdmy9UxNp6O4HKFL/2uKxipTKGo1tMUBUHjZf4LWQiQ/XNSKI8\nCpLIEVG/X31iIdsiOgc45zwlXupRLOUKz9jhLaCSOBFTB8goY12gn7kaJWPXuX9AmKhT5z\n4O0enDbVNNQjYHu5oc6GwkVCYCXAUAxNOyNhHAact9JagQAAAIEAnsHIasy48toxF9zvgv\nTsgwguK9mbZETaWKhGM7LlIzkEFjOxdMtAwBAGuRpzN3f+wS5d2bDG8YJCvu2l3VVYcdKQ\nIebVbWrivsl5akXMps8Gxcv9Q1lX5TrTQ0nP4lN2UhuGCpBB0sUUItnWEdQMvVpaCSUeSD\ndSqfQoFs85Lh8AAACBAN8ohkC2+80PHCmdHo3Iu3uULbIYVcgTKkNmgN5iOlCWenwh15HW\ni4FywMUB3OiliTScowozGBX20Fbrq0Z7wpekvqBrH2lvOAwzDuwT1JHosGirxajuY2zif1\nXN3E1UK9p4DmvywDoTKvlGK/mIX6tNRCFl4DAkDk4eaudjzezVAAAAgQDD5mqtGGisP7Hd\nYgN0UfPSTyc33FarPG6NnRtf2UGfg8jbO21T/IcD4rfHPXrL8X7wxKRUideILOAQUWQQYB\n70bNiAVdwLCsjIxgYHZn+NXgND2DYP5cidcONNZNmbV9gti5aG+acxhiVvzuH4wBdufFOp\n3SgZxnYmMo02o2kKcQAAAAJjaQECAwQFBgc=\n-----END OPENSSH PRIVATE KEY-----" > id_rsa.txt
            ls
            cat id_rsa.pub
            cat id_rsa.txt
            chmod 600 ~/.ssh/id_rsa
      - run:
          name: git
          command: |
            export GIT_SSH_COMMAND="ssh -o StrictHostKeyChecking=no"
            git clone git@gitlab.com:kzyablitsev/test-ci.git /root/project/unityPrj
      - run:
          name: ls
          command: ls  

  buildAndroid:
    docker:
      - image: 1zyablik1/unity
      
    steps:
      - run:
          name: git
          command: git clone https://github.com/1zyablik1/test-ci.git /root/project/unityPrj
      - run:
          name: setup display
          command: |
            Xvfb :1 -screen 0 1280x720x24 &
            export DISPLAY=:1
            unity -batchmode -projectPath /unityPrj/ -executeMethod BuildScript.BuildAndroid -quit
      - run:
          name: Display Unity log
          command: cat /root/.config/unity3d/Editor.log
          when: always
      - run: 
          name: install 7zip
          command: apt-get install p7zip-full -y
      - run:
          name: zip bundle
          command: 7z a -t7z -m0=lzma2 -mx=9 -mfb=64 -md=32m -ms=on ~/project/unityPrj/Builds/Android/build.7z ~/project/unityPrj/Builds/Android/Assets
      - store_artifacts:
          path: /root/project/unityPrj/Builds/Android/
          destination: Andriod
          
  buildIos:
    working_directory: ~/project
    docker:
      - image: 1zyablik1/unity
      
    steps:
      - run:
          name: git
          command: git clone https://github.com/1zyablik1/test-ci.git /root/project/unityPrj
      - run:
          name: build
          command: |
            Xvfb :1 -screen 0 1280x720x24 &
            export DISPLAY=:1
            unity -batchmode -projectPath /unityPrj/ -executeMethod BuildScript.BuildIos -quit
      - run:
          name: Display Unity log
          command: cat /root/.config/unity3d/Editor.log
          when: always
      - run:
          name: LS
          command: ls ~/project/unityPrj/Builds/iOS/
      - persist_to_workspace:
          root: ./unityPrj/Builds/iOS
          paths:
            - .
      
  receive:
    macos:
      xcode: "12.5.1"
    steps:
      - attach_workspace:
          at: /tmp/ios
      - run:
          name: Use artifact
          command: ls /tmp/ios/Unity-iPhone.xcodeproj/
      - run: 
          name: xcode
          command: |
            xcrun instruments -w 'iPhone 12' || sleep 15
            xcodebuild -project /tmp/ios/Unity-iPhone.xcodeproj -configuration Release -destination generic/platform=iOS
      
workflows:
  version: 2
  build-and-deploy:
    jobs:
      #- buildAndroid
      - test-chek

