jobs:
  build:
    docker:
      - image: 1zyablik1/unity
      
    steps:
      - checkout:
          path: /unityPrj/
      - run:
          name: setup display
          command: Xvfb :1 -screen 0 1280x720x24 &
      - run:
          name: setup display
          command: export DISPLAY=:1
      - run:
          name: Build Android
          command: unity -batchmode -projectPath /unityPrj/test-ci/ -executeMethod
            BuildScript.BuildAndroid -quit
      - run:
          name: Display Unity log
          command: cat /root/.config/unity3d/Editor.log
          when: always
          
workflows:
  version: 2
  build-and-deploy:
    jobs:
      - build
